/* Created with love by wolfcreative.ru */
@font-face{font-family:'Roboto Regular';src:url(../fonts/RobotoRegular.eot);src:local(RobotoRegular),local(RobotoRegular),url(../fonts/RobotoRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoRegular.woff) format("woff"),url(../fonts/RobotoRegular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Roboto Bold';src:url(../fonts/RobotoBold.eot);src:local('Roboto Bold'),local(RobotoBold),url(../fonts/RobotoBold.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoBold.woff) format("woff"),url(../fonts/RobotoBold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Roboto Light';src:url(../fonts/RobotoLight.eot);src:local(RobotoLight),local(RobotoLight),url(../fonts/RobotoLight.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoLight.woff) format("woff"),url(../fonts/RobotoLight.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'RobotoCondensed Regular';src:url(../fonts/RobotoCondensedRegular.eot);src:local('RobotoCondensed Regular'),local(RobotoCondensedRegular),url(../fonts/RobotoCondensedRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoCondensedRegular.woff) format("woff"),url(../fonts/RobotoCondensedRegular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Pacifico';src:url(../fonts/Pacifico-Regular.eot);src:local('Pacifico Regular'),local(Pacifico-Regular),url(../fonts/Pacifico-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Pacifico-Regular.woff) format("woff"),url(../fonts/Pacifico-Regular.ttf) format("truetype");font-weight:400;font-style:normal}

body{font-family:'Roboto Regular',sans-serif;font-size:14px;line-height:24px;color:#111}
b, strong{font-weight:normal;font-family:'Roboto Bold',sans-serif}
.uk-container{max-width:1140px}

header>.first{height:160px}
header>.first>.uk-grid{height:100%}
header .logo a{display:inline-block}
header .logo .text{max-width:214px;vertical-align:middle;font:18px/22px 'Roboto Bold',sans-serif;color:#233764;text-transform:uppercase;margin-left:20px}
header .tagline p{margin:0;font:18px/normal 'Roboto Light',sans-serif;color:#23376C}
header .tagline p span{display:block;font-size:14px;color:#6B6B6B}
header .info .info_wrapper{max-width:180px;text-align:left;display:inline-block;margin-left:15px}
header .info .info_wrapper a{font:14px/normal 'Roboto Bold',sans-serif;color:#23376C}
header .info .info_wrapper span{font:10px 'Roboto Regular',sans-serif;color:#6B6B6B;display:block;margin-top:-2px}
header .info .info_wrapper i{margin-right:6px}

header nav{background:#23376C}
header nav .uk-navbar-nav>li>a{height:60px;font:16px 'Roboto Regular',sans-serif;color:#fff;text-transform:none;padding:0 16px}
header nav .uk-navbar-nav>li.uk-active>a,header nav .uk-navbar-nav>li>a.uk-open,header nav .uk-navbar-nav>li>a:hover,header nav .uk-navbar-nav>li>a:focus{background:#ef4c4d;color:#fff}
header nav .uk-navbar-nav>li>a>i{width:18px;height:28px;margin:0 7px 0 4px}
header nav .uk-navbar-dropdown{padding:0;box-shadow:0 4px 4px rgba(0,0,0,0.25)}
header nav .uk-navbar-dropdown li{border-top:1px solid #C4C4C4}
header nav .uk-navbar-dropdown li:first-child{border:none}
header nav .uk-navbar-dropdown li:hover,header nav .uk-navbar-dropdown li:focus{border-color:#ef4c4d}
header nav .uk-navbar-dropdown a{font:18px 'Roboto Regular',sans-serif;color:#23376C;padding:14px 20px}
header nav .uk-navbar-dropdown a:hover,header nav .uk-navbar-dropdown a:focus{background:#ef4c4d;color:#fff}

.search-box .uk-search{width:262px}
.search-box .uk-search-icon{width:30px;color:#23376C}
.search-box .uk-search-default .uk-search-input{height:auto;background:#fff;padding:7px 30px 7px 6px;font:10px 'Roboto Light',sans-serif;color:#6B6B6B;border:none;border-radius:1px}

.uk-card-blue{width:262px;background:#fff}
.uk-card-blue .uk-card-header{background:#23376C;padding:11px 15px 12px}
.uk-card-blue .uk-card-header h3{color:#fff}
.uk-card-blue .uk-card-body{padding:6px 4px}
.uk-card-blue .uk-card-body ul li{margin:0}
.uk-card-blue .uk-card-body ul a{font:14px 'RobotoCondensed Regular',sans-serif;color:#23376C;padding:6px 10px;display:block;text-decoration:none}
.uk-card-blue .uk-card-body ul li.active,.uk-card-blue .uk-card-body ul a:hover{background:#ededef}

.maiden{position:relative;padding-top:30px;padding-bottom:30px;background:url(../images/bg_main_page.jpg) no-repeat top center / cover}
.maiden:after{content:'';width:100%;height:100%;top:0;position:absolute;z-index:1;background:rgba(255,255,255,0.7)}
.maiden>div{position:relative;z-index:2}

.shade{box-shadow:0 4px 4px rgba(0,0,0,0.25)}
.shade:after{content:'';width:100%;height:100%;top:0;position:absolute;z-index:1;background:linear-gradient(to bottom,rgba(255,255,255,0.2) 7%,rgba(255,255,255,0.3) 18%,rgba(255,255,255,0.4) 34%,rgba(35,55,108,0.9) 100%)}
.shade>a{z-index:2;font:18px 'Roboto Regular',sans-serif;color:#fff;padding:15px 20px;text-decoration:none}
.shade .share{z-index:2;top:10px;right:10px}
.shade .share i{color:#fff;cursor:pointer}

.enter-lk .uk-button-danger{width:164px;margin-top:7px;text-transform:none;font-size:18px;line-height:41px}
.enter-lk .uk-text-large{color:#fff}
.enter-lk .uk-font-pacifico{font-size:36px;line-height:25px;color:#ef4c4d;display:inline-block}

footer{background:#23376C;color:#fff;font-size:13px}
footer .first{padding:46px 0;line-height:20px}
footer .first img{width:93px;height:93px}
footer .first .text{max-width:214px;vertical-align:middle;font:18px/22px 'Roboto Bold',sans-serif;text-transform:uppercase;margin:30px auto 0}
footer .first h4{color:#fff}
footer .first .uk-text-small{font:12px/normal 'Roboto Light',sans-serif}
footer .first .uk-list{margin-top:-3px}
footer .first .uk-list li{margin:0}
footer .first a{color:#fff;font:13px/21px 'Roboto Regular',sans-serif;margin:0;display:block}
footer .first i{margin-right:5px}
footer .second{background:#1F2739}
footer .second .uk-grid{height:80px}
footer .second .copyright{opacity:.1}

/* Add to UiKit */
.uk-icon-circle{border:1px solid #23376C;border-radius:300px;color:#23376C;padding:1px}
.uk-font-pacifico{font-family:'Pacifico',sans-serif}
.uk-text-medium{font-size:1.1rem}
.uk-section-secondary{background:#383838;padding-top:50px;padding-bottom:50px}

/* Buttons */
.uk-button-danger{background:#ef4c4d;border-radius:2px}
.uk-button-danger:hover,.uk-button-danger:focus{background:#d14040}


h3{font:20px 'Roboto Regular',sans-serif}
.uk-h4{font:18px 'Roboto Bold',sans-serif;text-transform:uppercase}